<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="http://use.typekit.com/izp2mhh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31217337-1']);
    _gaq.push(['_setSiteSpeedSampleRate', 100]);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>
          {{ content }}
        </div>
        
        <div>
        	<p>
        Writing. Illustration. Translation. 
        Quality Assurance. Project Management.
			</p>
        </div>
        
          <footer class="footer">
			<p id="name">Caroline Kikisch</p> 
			<a href="mailto:hush@slightlyopaque.net"> <p id="email">hush@slightlyopaque.net</p></a>
		  </footer>
    </body>
</html>
