<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="Systemische Beratung, Coaching, Supervision, Systemisches, Organisationsentwicklung, Retrospektiven, Agile, Teams, Teambuilding, Lego Serious Play, Hamburg, Mediation, Konfliktberatung, Veränderung">
        <meta name="description" content="Menschen sind soziale Wesen, die in ständigem Austausch und Wechselwirkungen mit ihrer Umwelt stehen. Dementsprechend erfordert unser Denken und Handeln Achtsamkeit und Sensibilität für die Auswirkungen auf die uns umgebenden Systeme und Strukturen.">

    <meta property="og:title" content="Coaching Beratung Hamburg" >
    <meta property="og:site_name" content="http://www.slightlyopaque.net" >
    <meta property="og:description" content="Menschen sind soziale Wesen, die in ständigem Austausch und Wechselwirkungen mit ihrer Umwelt stehen. Dementsprechend erfordert unser Denken und Handeln Achtsamkeit und Sensibilität für die Auswirkungen auf die uns umgebenden Systeme und Strukturen.">
	<meta property="og:url" content="http://slightlyopaque.net/" >
        <meta property="og:image" content="http://www.slightlyopaque.net/images/profile.JPG">

      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--{% if site.env == 'production' %}
	<link rel="stylesheet" href="/build/style.min.css">
	{% else %}
	<link rel="stylesheet" href="/debug/style.css">
	{% endif %}-->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="http://use.typekit.com/izp2mhh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31217337-1']);
    _gaq.push(['_setSiteSpeedSampleRate', 100]);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  --!>
    </head>
    <body>
        <nav id="navigation_bar">
            <ul>
                <li><a href="/">Home</a></li>
                    <li class="has-dropdown">
                </li>
                <li><a href="/Coaching.html">Coaching</a></li>
	        <li><a href="/Contact.html">Kontakt</a></li>
	   </ul>
	</nav>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ page.title }}</a></h1>
          </div>
          {{ content }}
        </div>
        
          <footer class="footer">
			<id="name">Caroline Kikisch<br>
<script language="JavaScript">
var username = "beratung";
var hostname = "slightlyopaque.net";
var linktext = username + "@" + hostname ;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>
		  </footer>
    </body>
</html>
